baselines==0.1.5
contexttimer==0.3.3
graphviz==0.12
gym==0.9.4
matplotlib==3.1.1
moviepy==1.0.1 
numpy==1.17.0
pandas==0.25.1
Pillow==9.3.0
PyContracts==1.8.0
PyYAML==5.1.2
scikit-learn==0.19.1
scipy==1.1.0
tensorflow==1.12.0
# tensorflow-gpu==1.12.0
toolz==0.9.0
tqdm==4.41.1
