/* A modal pop up box */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 40%;
}

#timer {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

/*#jspsych-target {
  margin-top: -20px;
}*/

.canvas-container {
  // border: thin blue dashed;
  margin: auto;
  clear: both;
}

#mouselab-canvas {
  position: relative;
  /*border: thick black solid;*/
}

.mouselab-header {
    // margin: 0;
    float: left;
    margin-bottom: 0.5em;
    font-size: 20pt;
}

.mouselab-prompt {
    // margin: 0;
    width: 100%;
    height: 100px;
    // text-align: center;
    // margin-bottom: 0.5em;
    // font-size: 20pt;
}

#mouselab-msg-left {
  width: 20%;
  text-align: left;
}

#mouselab-msg-right {
    width: 30%;
    text-align: left;
}
#mouselab-msg-center {
    width: 50%;
    text-align: center;
}

.mouselab-msg-bottom {
    width: 100%;
    font-size: 16pt;
    text-align: center;
    margin-top:-8px;
}

.alert {
  margin-top: 20px;
}

#mouselab-score, #mouselab-moves #mouselab-ghost-score{
  font-weight: bold;
}

.center {
  text-align: center;
  margin-bottom: auto;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto
}
img.display {
  padding: 10px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.body-text {
    max-width: 700px;
}

.centered {
  margin: auto;
  position: relative;
}

/* Center the loader */
#load-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-40px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-40px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#success-load {
  display: none;
  text-align: center;
}


/********************************************************************/
/* Generic element styles                                           */
/********************************************************************/

body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 13pt;
}

h1 h2 h3 h4 {
  margin-top: 0px;
}


/* text styling */
strong {
  font-weight: 600;
}

ul {
    margin: 0;
}

ol.insructions > li {
    margin: 1em 0;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

/* these are all the same for now, but easy to modify individually */
#container-flyer, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    background: white;
    margin: 30px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 200px;
    padding: 2px;
}

/* consent.html - the consent form */
.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

.spacer {
    clear: both;
}

/********************************************************************/
/* Index slide components                                           */
/********************************************************************/

img.logo { height: 6.25em; }

#consent {
    padding-left: 4%;
    padding-right: 4%;
    margin: 1.5em 0;
    text-align: justify;
}

span.consent {
    font-color: red;
}

/********************************************************************/
/* Finished slide components                                        */
/********************************************************************/

#submit_error_slide {
    display: none;
}

#resubmit_slide {
    display: none;
}

/********************************************************************/
/* Error                                                            */
/********************************************************************/

#error-message {
    background-color: #FEA;
    padding: 0 0.625em;
    border: 1px solid black;
    margin: 0.625em;
}